
    .myButton {
        
        /* Button format taken from http://www.bestcssbuttongenerator.com/ */ 

        -moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
        -webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
        box-shadow:inset 0px 34px 0px -15px #b54b3a;
        
        background-color:#a73f2d;
        
        border:1px solid #241d13;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        padding:9px 23px;
        text-decoration:none;
        text-align: auto
        
        text-shadow:0px -1px 0px #7a2a1d;
        
    }
    .myButton:hover {
        
        background-color:#b34332;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }

    div {   /* for centering the button*/ 

    width: 600px;
    margin: auto;
}
    }
